fastapi
uvicorn
google-genai
python-dotenv
httpx
beautifulsoup4
pillow
requests
python-multipart
cloudinary==1.36.0
sqlalchemy
asyncpg
websockets
authlib
python-jose[cryptography]
passlib
bcrypt
psycopg2-binary
aiofiles
PyJWT
itsdangerous==2.1.2
html2image
aiosqlite


playwright
Pillow



pymongo

motor
starlette